{% extends 'template.html' %}

{% block title %}
Ну вошли на сайт, а дальше что?
{% endblock title %}
{% block body %}
<h2>ВНИМАНИЕ, АНЕКДОТ:</h2>
<h5>Мюллер решил проверить своих подчинённых, вызывает первого к себе в кабинет:</h5>
<h5>-Назовите любое двухзначное число.</h5>
<h5>-28</h5>
<h5>-А почему не 82?</h5>
<h5>-Потому что 28!</h5>
<h5>Мюллер записывает: "Характер нордический". Вызывает следующего</h5>
<h5>-Назовите двухзначное число.</h5>
<h5>-45</h5>
<h5>-А почему не 54?</h5>
<h5>-Можно и 54, но лучше 45.</h5>
<h5>Мюллер пишет: "Характер близкий к нордическому". Зовёт следующего:</h5>
<h5>-Назовите двухзначное число.</h5>
<h5>-33</h5>
<h5>-А почему не... А, это вы, Штирлиц</h5>
{% endblock %}